# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/새 폴더/hw3d/.vs/hw3d/v16
/새 폴더/hw3d/Debug
/새 폴더/hw3d/hw3d/Debug
/hw3d/Debug
/hw3d/.vs
/hw3d/hw3d/Debug/hw3d.tlog
/hw3d/hw3d/Debug
/hw3d/hw3d/x64/Debug
/hw3d/x64/Debug
/Game/.vs/Game/v16
/Dx12__Practice/.vs/Dx12__Practice
/Dx12__Practice/Intermediate/Debug/_IsIncrementalBuild
/Dx12__Practice/Intermediate/Debug/Engine.tlog
/Dx12__Practice/Intermediate/Debug/Engine.log
/Dx12__Practice/Intermediate/Debug/Engine.lib.recipe
/Dx12__Practice/Intermediate/Debug/Engine.Build.CppClean.log
/Dx12__Practice/Intermediate/Debug/Client.tlog
/Dx12__Practice/Intermediate/Debug/Client.log
/Dx12__Practice/Libraries/Lib/Engine/Engine.pdb
/Dx12__Practice/Libraries/Lib/Engine/Engine.idb
/PizzaTicket
